* {
  margin: 0;
  padding: 0;
}

/* body {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
} */

.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.name-brand {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.icon-logo {
  width: 40px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 30px;
  height: auto;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.image {
  float: left;
  width: 40%;
  margin-right: 20px;
}

.content {
  overflow: hidden;
}

.stats-container {
  display: flex;
  gap: 40px;
}

.stats-item .number {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: lightcoral;
}

.stats-item .label {
  font-size: 18px;
  color: lightslategrey;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
}

.Orange {
  color: chocolate;
}

.raleway {
  font-family: "Raleway";
}

.about {
  border: 1px solid #d46e1b;
  border-radius: 30px;
  color: chocolate;
  padding: 10px 25px;
}

.about:hover {
  background: chocolate;
  color: white;
}

.about-me {
  border-bottom: 2px solid #d46e1b;
  width: 80px;
  text-align: left;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
}

.skills {
  border-bottom: 2px solid #d46e1b;
  width: 110px;
  text-align: left;
}

.card-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
}

.card {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: azure;
}

.experience-content {
  display: flex;
  text-align: left;
}

.experience {
  border-bottom: 2px solid #d46e1b;
  width: 130px;
  text-align: left;
}

.cause {
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
}

.font-company {
  font-size: 30px;
  color: darkgrey;
}

.font-work {
  font-size: 20px;
}

.lastest {
  border-bottom: 2px solid #d46e1b;
  width: 120px;
  text-align: left;
}

.label {
  display: flex;
  background-color: azure;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 120px 0;
}

.talk {
  display: inline-block;
  margin: auto;
}

.lets-talk {
  border: 2px solid #d46e1b;
  border-radius: 30px;
  color: chocolate;
  padding: 10px 25px;
  background-color: black;
}

.lets-talk:hover {
  background: chocolate;
  color: white;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

#header-talk {
  color: grey;
}

#end-talk {
  color: grey;
}
